.row{style: "width: 280px; background: url('#{hostname}/embed/ghana_flag_02.jpg'); background-repeat: 'no-repeat'"}
  .col-sm-12
    %p.acenter= "Listen to 40 Ghana stations"
  .col-sm-12
    %script#radio_script{"data-autoplay" => "1", "data-did" => "17001000190", "data-background_image" => "transparent", "data-display_name" => "Ghana Radio Now", "data-display_number" => "(712) 432-2380", "data-height" => "170", "data-width" => "100%", src: "#{hostname}/embed/inject.js", type: "text/javascript"}
  .col-sm-12
    %a.bookmark{href: "#"}
      %img{src: "#{hostname}/embed/bookmark3.png"}
      / %a.phonebook{href: "tel:+7124322380,123;isub=123"}
      %a.phonebook{href: "tel:7124322380"}
        %img{src: "#{hostname}/embed/phonebook1.png"}
        %a.download_quickplay{href: "#{hostname}/download?secret_code=#{SymmetricEncryption.encrypt(@station_id)}"}
          %img{src: "#{hostname}/embed/quickplay1.jpg"}
