%table.campaign_table
  %thead
    %th Gateway
    %th DID
    %th Created
    %th Schedule
    %th File Name
    %th Sent to Listeners by:
    %th Status
    %th Call Status
    %th Delete
  %tbody
    -campaigns.each do |campaign|
      %tr{:class => cycle('odd', 'even')} 
        %td= campaign[2]
        %td= campaign[3]
        %td= campaign[7].localtime.strftime("%Y-%m-%d %H:%M")
        %td= campaign[5].strftime("%Y-%m-%d %H:%M")
        %td{:title => campaign[9]}= truncate(campaign[9],:length => 12)
        %td NULL
        %td= campaign[14] == 1 ? "Active" : "Inactive"
        %td
          - if campaign[1].present?
            %a{:remote =>'true', :class=> "show_campaign_status", :data => {:id =>campaign[1]}} View
          - else
            No status
        %td 
          = link_to content_tag(:i, "", class: "icon-trash icon-white"),campaign_results_destroy_campaign_path(:id => campaign[1]) , method: :delete, class: "btn btn-danger remove_fields", :confirm => "Are you sure ?"
- if page_no > 1
  %nav.pagination
    %ul
      - (1..page_no).each do |p|
        %li{:class => ["page",("active" if current_page==p)]}
          %a{:class => "custom_pagination", :data => {:value => gateway_id, :id => p} , :rel =>"next" }= p
   

