.row
  .col-sm-5
    .user-left
      %table.table.table-hover.no-border.small-padding
        %thead
          %tr.no-border
            %th{colspan: 2}
              %h3= "Account Information"
        %tbody
          %tr
            %td.col-sm-4
              = f.label :name, label: "Company/Name"
            %td.col-sm-8
              = f.input :name, label: false, input_html: {class: "form-control"}
          %tr
            %td= f.label :title, label: "Contact Name"
            %td= f.input :title, label: false, input_html: {class: "form-control"}
          %tr
            %td= f.label :email, label: "Email Address"
            %td= f.input :email, label: false, input_html: {class: "form-control"}
          %tr#permission_id_for_js{data: {user: f.object.id}}
            %td= f.label :permission_id, label: "Role"
            %td= f.input :permission_id, as: :select, label: false, collection: roles_for_new_select, input_html: {class: "without_search"}
          %tr#group_tr
            %td= f.label :group, label: "Group", required: true
            %td
              .input-group.input-group-sm
                = f.input :group, as: :select, label: false
                .input-group-btn
                  = link_to "Add New", "#", class: "btn btn-green btn-squared new_group_btn", id: "add_new_group"
          %tr#new_group_tr
            %td= f.label :new_group, label: "New Group", required: true
            %td= f.input :new_group, label: false, input_html: {class: "form-control"}
          %tr
            %td= f.label :enabled, label: "Enabled"
            %td
              = f.input :enabled, as: :select, selected: f.object.enabled || 1, input_html: {class: "without_search"}, label: false
          - if %w{edit update edit_account update_account}.include? params[:action]
            %tr
              %td= f.label :password, label: "Password"
              %td= f.input :password, label: false, input_html: {class: "form-control"}, placeholder: "Minimum of 8 characters"
            %tr
              %td= f.label :password_confirmation, label: "Re-type Password"
              %td= f.input :password_confirmation, label: false, input_html: {class: "form-control"}
            %tr
              %td{colspan: 2}
                = "*Leave password blank if you don't want to change it"

      %table.table.table-hover.no-border.small-padding
        %thead
          %tr.no-border
            %th{colspan: 2}
              %h3= "Contact Information"
        %tbody
          %tr
            %td.col-sm-4
              %i.clip-phone-4
              = f.label :landline, label: "Phone"
            %td.col-sm-8
              = f.input :landline, input_html: {class: "form-control"}, label: false
          %tr
            %td= f.label :address, label: "Address"
            %td= f.input :address, input_html: {class: "form-control"}, label: false
          %tr
            %td
              %i.clip-earth-2
              = f.label :city, label: "City"
            %td= f.input :city, input_html: {class: "form-control"}, label: false
          %tr
            %td
              %i.fa.fa-globe
              = f.label :state, label: "State"
            %td= f.input :state, input_html: {class: "form-control"}, label: false
          %tr
            %td
              %i.fa.fa-facebook-square
              = f.label :facebook, label: "facebook"
            %td= f.input :facebook, input_html: {class: "form-control"}, label: false
          %tr
            %td
              %i.fa.fa-twitter-square
              = f.label :twitter, label: "Twitter"
            %td= f.input :twitter, input_html: {class: "form-control"}, label: false
          %tr
            %td
              = f.label :tags_holder, label: "Tags"
            %td
              = f.input :tags_holder, label: false, as: :string, input_html: {class: "form-control taggable", data: {role: 'tagsinput', focus: "Press enter to add new tag."}, value: @tags}
          %tr
            %td
              = f.label :country_holder, label: "Countries"
            %td
              = f.input :country_holder, label: false, as: :select, collection: DataGroupCountry.all.collect { |x| [x.title, x.title] }, input_html: {class: "multiple-select without_css", multiple: true, data: {data: @countries}, autocomplete: "off"}

  .col-sm-7
    %table.table.table-hover
      %thead
        %tr
          %td.col-sm-2
            %i.clip-user-3.circle-icon.circle-green
          %td.col-sm-2
            = f.label :rca, label: "RCA"
          %td.col-sm-8
            = f.input :rca, input_html: {class: "form-control"}, label: false
        %tr
          %td
            %i.clip-cube-2.circle-icon.circle-bricky
          %td= f.label :affiliate, label: "Affiliate"
          %td= f.input :affiliate, input_html: {class: "form-control"}, label: false

    %table.table.table-hover.no-border.small-padding
      %thead
        %tr.no-border
          %th{colspan: 2}
            %h3= "Station Information"
      %tbody
        %tr
          %td.col-sm-3
            = f.label :station_name, label: "Station Name"
          %td.col-sm-9
            = f.input :station_name, label: false, input_html: {class: "form-control"}
        %tr
          %td= f.label :streaming_url, label: "Streaming URL"
          %td= f.input :streaming_url, label: false, input_html: {class: "form-control"}
        %tr
          %td= f.label :website, label: "Website"
          %td= f.input :website, label: false, input_html: {class: "form-control"}
        %tr
          %td= f.label :language, label: "Language"
          %td= f.input :language, label: false, input_html: {class: "form-control"}
        %tr
          %td= f.label :genre, label: "Genre"
          %td= f.input :genre, label: false, input_html: {class: "form-control"}
        %tr
          %td= f.label :on_air_schedule, label: "On-Air Schedule"
          %td= f.input :on_air_schedule, label: false, input_html: {class: "form-control"}

    .pull-right
      - if params[:from] == "index"
        = link_to "Cancel", users_account_users_path, class: "btn btn-dark-grey"
      - else
        = link_to "Cancel", my_account_path, class: "btn btn-dark-grey"
      = f.submit "Save", class: "btn btn-green"
