.main-login.col-sm-4.col-sm-offset-4
  .logo
    ZenoRadio
  .box-login
    %h3 Please change your password
    - if current_user.barcode.present?
      %p System detected that you are using the default password. For security reasons, we recommend for you to change it.
    - else
      %p System detected that you haven't reset your password for a while. For security reasons, we recommend for you to change it.
    = render "shared/flash_message"
    = simple_form_for current_user, url: submit_reset_password_users_path, method: :post, class: "form-login", html: {autocomplete: "off"} do |f|
      %fieldset
        .form-group
          %span.input-icon
            = f.input :old_password, label: "Old Password", input_html: {class: "form-control password", autocomplete: "off"}
            = f.input :password, label: "New Password", input_html: {class: "form-control password"}
            = f.input :password_confirmation, label: "Retype New Password", input_html: {class: "form-control password"}
        .form-actions
          = button_tag(type: "submit", class: "btn btn-bricky pull-right") do
            = "Reset Password"
            %i.fa.fa-arrow-circle-right
  .copyright
    %p © ZenoRadio Admin #{DateTime.now.strftime("%Y")}

