.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %i.clip-grid-3
        = "Existing Extensions"
        .pull-right.panel-heading-buttons
          = link_to "#new_extension", class: "btn btn-sm btn-default", tip: "Add new extension", id: "new_extension_button" do
            %i.fa.fa-plus
      .panel-body
        - if @extensions.present?
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th= "Stream Name"
                %th.hidden-sm.hidden-xs= "Stream URL"
                %th.hidden-sm.hidden-xs.acenter= "Backup URL"
                %th.acenter="Channel"
                - unless thirdparty?
                  %th
            %tbody
              - @extensions.each do |extension|
                - @extension = extension
                %tr
                  %td= extension.content.try(:title)
                  %td.hidden-sm.hidden-xs
                    - if extension.content.media_url.present?
                      = simple_format(split_str(extension.content.try(:media_url), 50))                    
                  %td.hidden-sm.hidden-xs.acenter= extension.content.backup_media_url? ? "Yes" : "No"
                  %td.acenter= extension.extension
                  - unless thirdparty?
                    %td
                      .pull-right
                        .btn-group
                          = link_to "#", class: "btn btn-primary btn-sm dropdown-toggle", data: {toggle: "dropdown"} do 
                            = "Actions"
                            %span.caret
                          %ul.dropdown-menu.pull-right
                            - if extension.try(:content).try(:backup_media_url).present?
                              %li
                                = link_to "Switch Streams", switch_data_gateway_conference_path(extension.id), confirm: "Are you sure you want to switch the primary and the backup streams?"
                            %li
                              = link_to "Edit", edit_data_gateway_conference_path(extension.id), remote: true
                            %li
                              = link_to "Delete", extension_path(extension.id), method: "delete", confirm: "Are you sure you want to delete this extension?"
        - else
          = render "shared/no_records", msg: "No extensions found."

#edit_extension_modal.modal{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
= render "new_extension_modal"

