#new_prompt.modal{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        .modal_title
          %h4= "New Prompt"
      .modal-body
        .row-fluid
          .span12
            = simple_form_for @prompt, html: {id: "new_prompt_form"}, multipart: true  do |f|
              .form-inputs
                = f.input :title, input_html: {class: "form-control"}
                = f.input :raw_audio, label: "Audio", as: :file, input_html: {class: "form-control"}
                = f.input :gateway_id, as: :hidden, input_html: {value: @station.id}
      .modal-footer
        = link_to "Close", "#", class: "btn btn-default", "aria-hidden" => "true", "data-dismiss" => "modal"
        = link_to "Send", "#", class: "btn btn-dark-grey form-submitter", data: {target: "new_prompt_form"}