#new_station.modal{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        .pull-right
          = link_to "#", "aria-hidden" => "true", "data-dismiss" => "modal" do
            %i.clip-close-2
        .modal_title
          %h4= "New Station"
      .modal-body
        .row-fluid
          .span12#new_station_fields
            = render "data_gateways/form", station: @new_station  
      .modal-footer
        = link_to "Close", "#", class: "btn btn-default", "aria-hidden" => "true", "data-dismiss" => "modal"
        = link_to "Send", "#", class: "btn btn-dark-grey form-submitter", data: {target: "new_station_form"}