.graphs
  -if params[:rca_id].present?
    %h1.page_heading.clearfix=DataGroupRca.find(params[:rca_id]).title
  #day_graphs
    -if @day_graphs.present?
      =render_chart(@day_graphs, "day_graphs")
      
  #week_graphs
    -if @week_graphs.present?
      =render_chart(@week_graphs, "week_graphs")
%div
  -if params[:type] == "minutes"
    -if @result_mini.length > 5
      %div.left{:style=>"float:left;"}
        %p= "Current Top 3 Most Growth"
        =render :partial => "data_numerical_reports/top_3_minutes" ,:locals => {:result => @result_mini.last(3).sort{|a, b| b[3].to_i <=> a[3].to_i}}
        %br
      %div.right{:style=>"float:left;"}
        %p{:class => "drop"}= "Current Top 3 Most Drop"
        =render :partial => "data_numerical_reports/top_3_minutes", :locals => {:result => @result_mini.first(3).sort{|a, b| b[3].to_i <=> a[3].to_i}}
        %br
    - else
      %p= "Current Top 3 Most Growth"
      =render :partial => "data_numerical_reports/top_3_minutes" ,:locals => {:result => @result_mini.last(3).sort{|a, b| b[3].to_i <=> a[3].to_i}}
      %br
  -else
    -if @result_mini.length > 5
      %div.left{:style=>"float:left;"}
        %p= "Current Top 3 Most Growth"
        =render :partial => "data_numerical_reports/top_3_percentage" ,:locals => {:result => @result_mini.first(3)}
        %br
      %div.right{:style=>"float:left;"}
        %p{:class => "drop"}= "Current Top 3 Most Drop"
        =render :partial => "data_numerical_reports/top_3_percentage", :locals => {:result => @result_mini.last(3).sort{|a, b| b[3].to_i <=> a[3].to_i}}
        %br
    -else
      %p= "Current Top 3 Most Growth"
      =render :partial => "data_numerical_reports/top_3_percentage" ,:locals => {:result => @result_mini.first(3)}
      %br
%div.switcher
  - if params["type"] == "minutes"
    %a{:href => "/data_numerical_reports/rca_minutes?type=minutes&rca_id=#{params[:rca_id]}", :class =>"btn_active"} Minutes
    %a{:href => "/data_numerical_reports/rca_minutes?type=percentage&rca_id=#{params[:rca_id]}", :class =>"btn"} Percentage
  -elsif params["type"] == "percentage"
    %a{:href => "/data_numerical_reports/rca_minutes?type=minutes&rca_id=#{params[:rca_id]}", :class =>"btn"} Minutes
    %a{:href => "/data_numerical_reports/rca_minutes?type=percentage&rca_id=#{params[:rca_id]}", :class =>"btn_active"} Percentage
  -else
    %a{:href => "/data_numerical_reports/rca_minutes?type=minutes&rca_id=#{params[:rca_id]}", :class =>"btn"} Minutes
    %a{:href => "/data_numerical_reports/rca_minutes?type=percentage&rca_id=#{params[:rca_id]}", :class =>"btn_active"} Percentage
%br
-if params["type"] == "minutes"
  =render :partial => "data_numerical_reports/rca_total_minutes"
-else
  =render :partial => "data_numerical_reports/rca_percentage_minutes"