.row
  - if objects.present?
    = form_tag("/mass_updates/save_data_tags?object_id=#{object.id}&object_class=#{object.class.to_s}", remote: true) do |f|
      - objects.each do |obj|
        .col-sm-1
          = check_box_tag "data_tags[]", obj.id, selected.include?(obj.id), class: "icheck-me", data: {color: "blue", skin: "square"}
        .col-sm-5.data_groups_boxes
          = obj.title
  - else
    .col-sm-12
      = render "shared/no_records", msg: "No records found."